
header {
		
}
header > h1 {
	
	text-align: center;
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px solid #57b1dc;
	margin-top: 30px;
}
div.box {
		border:1pt solid #cbccc1;
		margin:auto;
		padding:1px;
		width:50%;
		margin-bottom:5pt;
				
				
}
div.box > *{
	margin:10pt;
}

div#datos > h2{
	text-align:center;
}

span.foto > img{
	margin:10px;
	width:17%;
	float:left;
	
}

p.title {
	font-style:italic;
}
div.habilidad > div{
	display:inline;
	border-radius:1em;
	padding:5pt;
	margin:5px;
}
div.habilidad div:first-child{
	background-color:#364ab4
}
div.habilidad div:last-child{
	background:#d3d3d3;
	box-shadow: 10px 10px 5px #888888;
}

div.habilidad{
	display:inline;
	
}



